/* Global Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.container {
    width: 1400px;
    margin: 0 auto;
}
.nav-annou{
    background-color: #222;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 15px;
}
.nav-annou button{
    background-color: #eb5757;
    border: none;
    border-radius: 15px;
    font-size: larger;
}
.navbar-wrapper {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #eb5757;
}
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: -webkit-sticky; /* For Safari */
}
.navbar img {
    width: 50px;
    height: 50px;
}
.nav-links {
    display: flex;
    justify-content: flex-start;
    list-style: none;
}
.nav-links li {
    padding: 10px;   
}
.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.nav-links a:hover {
    text-decoration: underline;
    color: white;
}

.background-div {
    background-image: url('/src/image.jpg'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 90px;
    color: #000;
}
.content {
    max-width: 300px;
}
.content h1 {
    font-size: 62px;
    line-height: 1.2;
    width: 100%;
    margin-top: 20px;
}
.content p {
    font-size: 18px;
    margin-bottom: 25px;
}
.button-mid {
    padding: 8px 20px;
    border: 1px solid #161616;
    background-color: transparent;
    color: #161616;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
.button-mid:hover {
    background-color: #161616;
    color: white;
}
.mid-container-mid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 9.5%;
    padding-right: 9.5%;
}
.mid-container-mid-p{
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top:20px ;
}

.card {
    background-color: #333333;
    color: #ffffff;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h1 {
    font-size: 3em;
    margin: 0;
}

.card p {
    font-size: 1.5em;
    margin: 0;
}

.card-number {
    align-self: flex-start;
}

.card-decoration {
    align-self: flex-end;
}

.text-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 3%;
    padding-right: 3.3%;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.text-block {
    width: 300px;
    text-align: center;
}

.top-mid-div-b {
    background-image: url('/src/image.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding-right: 9.6%;
    color: white;
    padding-top: 5%;
}

.content-tm {
    max-width: 300px;
    text-align: right;
}
.content-tm h1 {
    font-size: 62px;
    color: white;
    line-height: 1.2;
    width: 100%;
    margin-top: 20px;
}
.content-tm p {
    font-size: 18px;
    color: white;
    margin-bottom: 25px;
}

.top-bottom {
    margin-top: 40px;
    padding-left: 7%;
}
.top-bottom h2 {
    font-weight: bold;
    font-size: 40px;
    line-height: 1.2;
    margin-top: -10px;
}

.bottom-down {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 7%;
    padding-right: 7%;
}
.bottom-down-box1, .bottom-down-box2, .bottom-down-box3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    padding: 10px;
    border-radius: 8px;
}
.box1-details, .box2-details, .box3-details {
    text-align: center;
}
img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
p {
    margin: 10px 0;
    font-size: 1.2em;
}
button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #0056b3;
}

/* .shop-local-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 10px;
    max-width: 1000px;
    margin: 20px auto;
}
.image-container {
    flex: 1.5;
    max-width: 50%;
    padding: 10px;
    
    
}
.image-container img {
    width: 100%;
    border-radius: 10px;
    
}
.text-container {
    flex: 2;
    padding: 20px;
}
.text-container h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}
.text-container p {
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 20px;
} */

.shop-local{
    width: 1200; /* Adjust the width as needed */
    height: 800;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    padding: 85px;
    margin-left: 40px;
    margin-right: 40px;
}
.shop-local-image{
    width: 400px;
    height: 350px; 
    background-image: url('/src/box-img1.jpeg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    -webkit-border-radius: 9px;
     -moz-border-radius: 9px;
    
}
.shop-local-text{
    /* width: 400px;
    height: 400px;  */
    background-color: #222;
    border-radius: 15px;
    padding: 7%;
    line-height: 1.5;
    font-size: 1.2em;

}
.shop-local-text p{
    font-size: 16px;
    /* line-height: 1.5px; */
}

.footer {
    background-color: #000;
    top: 0px;
    width: 100%;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer-content img{
    width: 50px;
    height: 50px;
}
.footer p {
    margin: 0 0 10px;
    font-size: 1em;
    
}
.social-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.social-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s;
}
.social-links a:hover {
    color: #007BFF;
}

/* Responsive Styles */
@media (max-width: 1200px) {
    .content h1, .content-tm h1 {
        font-size: 48px;
    }
    .content p, .content-tm p {
        font-size: 16px;
    }
    .top-bottom h2 {
        font-size: 32px;
    }
}

@media (max-width: 992px) {
    .background-div, .top-mid-div {
        flex-direction: column;
        padding: 60px;
    }
    .content, .content-tm {
        text-align: center;
        max-width: 100%;
    }
    .boxes {
        width: 45%;
    }
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }
    .nav-links {
        flex-direction: column;
        margin: 10px 0;
    }
    .background-div, .top-mid-div {
        padding: 40px;
    }
    .content h1, .content-tm h1 {
        font-size: 36px;
    }
    .content p, .content-tm p {
        font-size: 14px;
    }
    .boxes {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: start;
        
    }
    .navbar img {
        width: 20px;
        height: 30px;
    }
    .nav-links{
        display: flex;
        flex-direction: row;
        justify-content:space-around;

    }
    .nav-links li {
        margin-left: 5px;
    }
    .content h1, .content-tm h1 {
        font-size: 28px;
    }
    .content p, .content-tm p {
        font-size: 12px;
    }
    .top-bottom h2 {
        font-size: 24px;
    }
    .bottom-down {
        flex-direction: column;
    }
    .bottom-down-box1, .bottom-down-box2, .bottom-down-box3 {
        width: 90%;
    }
    .shop-local-container {
        flex-direction: column;
    }
    .text-container h1 {
        font-size: 2em;
    }
    .text-container p {
        font-size: 1em;
    }
}
